body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  clear: both;
  display: block;
}
.container.homeSlides {
  margin: 0 4em;
  overflow: hidden;
}
.section {
  padding-top: 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  background-color: #e1e1e1;
  border-radius: 0.25em;
  color: #00c5db;
  padding: 0.25em 2em;
  text-decoration: none;
}
.btn:hover {
  background-color: #a7d06a;
  color: #fff;
}
.home {
  background-color: #147caf;
  background-image: url("../img/index.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home .homeSlides {
  max-height: 480px;
}
@media (max-width: 730px) {
  .home .homeSlides {
    max-height: inherit;
    padding-bottom: 2em;
    height: 100vh;
  }
}
.home #imagenCelular {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666667%;
  *width: 56.22070312500002%;
  *margin: 0 1.041124131944478%;
}
.home #imagenCelular figure {
  margin: 0;
  padding: 0;
  background-image: url("../img/HandwithiPhone5.png");
  -webkit-background-size: 350px auto;
  background-size: 350px auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 430px;
}
@media (max-width: 730px) {
  .home #imagenCelular {
    height: 0;
    display: none;
  }
}
.home #bienvenida {
  display: inline;
  float: left;
  width: 39.5833333333333%;
  margin: 0 1.0416666666667%;
  *width: 39.56271701388887%;
  *margin: 0 1.041124131944478%;
  padding-top: 2em;
  text-align: center;
}
@media (max-width: 730px) {
  .home #bienvenida.bienvenida2 {
    display: none;
  }
}
@media (max-width: 730px) {
  .home #bienvenida {
    display: inline;
    float: left;
    width: 97.9166666666667%;
    margin: 0 1.0416666666667%;
    *width: 97.86566840277784%;
    *margin: 0 1.041124131944478%;
    padding-top: 2em;
  }
}
.home #bienvenida h2 {
  font-size: 5em;
  margin: 0;
}
.home #bienvenida h3 {
  margin: 0;
}
.home #bienvenida form input[type="text"] {
  display: inline;
  float: left;
  width: 97.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 97.86566840277784%;
  *margin: 0 1.041124131944478%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home #bienvenida form input[type="submit"] {
  display: inline;
  float: left;
  width: 97.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 97.86566840277784%;
  *margin: 0 1.041124131944478%;
  margin-top: 0.5em;
  background-color: #00ccc3;
  border: 0px solid;
  padding: 0.5em;
}
.comofunciona {
  background-image: url("../img/dispositivos.jpg");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden;
  min-height: 450px;
  padding: 3em 0;
}
@media (max-width: 730px) {
  .comofunciona {
    min-height: auto;
    background-position: right top;
    -webkit-background-size: auto 300px;
    background-size: auto 300px;
    height: 100vh;
  }
}
.comofunciona .informacion {
  display: inline;
  float: left;
  width: 47.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 47.89171006944449%;
  *margin: 0 1.041124131944478%;
  text-align: right;
  background-color: rgba(255,255,255,0.9);
  padding: 1em;
  overflow: hidden;
  display: block;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 730px) {
  .comofunciona .informacion {
    text-align: center;
    width: 100%;
    margin-top: 280px;
  }
}
.comofunciona .informacion h2 {
  color: #00c5db;
  margin: 0.25em 0;
}
.pulsera {
  background-color: #fff;
  background-image: url("../img/pulsera.jpg");
  background-position: left center;
  -webkit-background-size: auto 130%;
  background-size: auto 130%;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 450px;
  padding: 3em 0;
}
@media (max-width: 730px) {
  .pulsera {
    background-position: center bottom;
    -webkit-background-size: 150px auto;
    background-size: 150px auto;
  }
}
.pulsera .informacion {
  max-width: 480px;
  float: right;
  text-align: right;
  background-color: rgba(255,255,255,0.5);
  padding: 1em;
  overflow: hidden;
  display: block;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 730px) {
  .pulsera .informacion {
    max-width: 100%;
    text-align: center;
    width: 100%;
  }
}
.pulsera .informacion h2 {
  color: #a7d06a;
  margin: 0.25em 0;
}
.app {
  background-image: url("../img/app.jpg");
  background-position: right center;
  -webkit-background-size: auto 140%;
  background-size: auto 140%;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 450px;
  padding: 3em 0;
}
@media (max-width: 730px) {
  .app {
    background-position: right bottom;
    -webkit-background-size: 500px auto;
    background-size: 500px auto;
  }
}
.app .informacion {
  display: inline;
  float: left;
  width: 47.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 47.89171006944449%;
  *margin: 0 1.041124131944478%;
  color: #00c5db;
  margin: 0;
  background-color: rgba(255,255,255,0.8);
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 730px) {
  .app .informacion {
    text-align: center;
    width: 100%;
    margin-bottom: 300px;
  }
}
.app .informacion a {
  display: inline;
  float: left;
  width: 47.9166666666667%;
  margin: 0 1.0416666666667%;
  *width: 47.89171006944449%;
  *margin: 0 1.041124131944478%;
}
body {
  background-color: #f2f2f2;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  background-color: #fff;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  z-index: 30;
  -webkit-box-shadow: 0 0.25em 0.1em rgba(0,0,0,0.5);
  box-shadow: 0 0.25em 0.1em rgba(0,0,0,0.5);
  position: fixed;
}
header nav ul {
  padding: 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li.KMS {
  color: #00f;
}
header nav ul li.IniciarSesion {
  color: #00f;
}
header nav ul li.Software {
  color: #00f;
}
