<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Clean URLs -->
		<rewrite>
			<rules>
				<rule name="Clean URL" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}\.html" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="/{R:1}.html" />
				</rule>
				<rule name="Software" stopProcessing="true">
					<match url="^software$" />
					<action type="Redirect" url="/#software" appendQueryString="false" />
				</rule>
				<rule name="Manual" stopProcessing="true">
					<match url="^pulsera/manual$" />
					<action type="Redirect" url="/#manual" appendQueryString="false" />
				</rule>
			</rules>
			
		</rewrite>
	</system.webServer>
</configuration>
