<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Clean URLs -->
		 <rewrite>
			 <rules>
         <rule name="Software" stopProcessing="true">
           <match url="^software$" />
           <action type="Redirect" url="#software" appendQueryString="false" />
         </rule>
         <rule name="Manual" stopProcessing="true">
           <match url="^pulsera/manual$" />
           <action type="Redirect" url="pulsera#manual" appendQueryString="false" />
         </rule>
				 <rule name="Clean URL" stopProcessing="true">
					 <match url="^(\w+)$" />
					 <conditions>
						 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					 </conditions>
					 <action type="Rewrite" url="{R:1}.html" appendQueryString="false" />
				 </rule>
         <rule name="Empty URL" stopProcessing="true">
           <match url="^$" />
           <action type="Rewrite" url="index.html" appendQueryString="false" />
         </rule>
			 </rules>
       <outboundRules rewriteBeforeCache="true">
         <match filterByTags="A" pattern="^(.+)\.html$" />
        <action type="Rewrite" value="{R:1}/" />
       </outboundRules>
		 </rewrite>
	</system.webServer>
</configuration>
