<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!-- Clean URLs -->
		<rewrite>
			<rules>
				<rule name="Clean URL" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}\.html" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="/{R:1}.html" />
				</rule>
				<rule name="Software" stopProcessing="true">
					<match url="^software$" />
					<action type="Redirect" url="/#software" appendQueryString="false" />
				</rule>
				<rule name="Manual" stopProcessing="true">
					<match url="^pulsera/manual$" />
					<action type="Redirect" url="/#manual" appendQueryString="false" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="Rewrite to clean URL" preCondition="IsHTML">
					<match pattern="^([a-zA-Z0-9_\-\.]+)\.(css|js|jpg|jpeg|png|gif|php)$" />
					<action type="Rewrite" value="/{R:1}.{R:2}" />
				</rule>
				
				<preConditions>
					<preCondition name="IsHTML">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>
