@import "vendors/grid.styl"
@import "../bower_components/animate.css/animate.min.css"
////// VARIABLES ///////
columns = 12
column-width = 60
gutter-width = 20
total-width = 100%


$KMS-Rosa = #ff6168
$KMS-Verde = #a7d06a
$KMS-Azul = #00c5db
$KMS-Aqua = #00ccc3
$KMS-AzulOscuro = #147caf
$KMS-Gris = #b3b3b3
$KMS-Blanco = #f2f2f2


///// CLASES //////
.container
	max-width 980px
	margin 0 auto
	clear both
	display block
	&.homeSlides
		margin 0 4em
		overflow hidden
.section
	padding-top 5em
	box-sizing border-box
.btn
	background-color lighten($KMS-Gris, 60%)
	border-radius .25em
	color $KMS-Azul
	padding .25em 2em
	text-decoration none
	display block
	clear both
	max-width 100px
	margin 1em auto!important
	text-align center
	&:hover
		background-color $KMS-Verde
		color white
.home
	background $KMS-AzulOscuro url("../img/home.jpg")
	background-size cover
	background-position center center
	color white
	box-sizing border-box
	@media (max-width:730px)
		background-attachment inherit
	.homeSlides
		max-height 480px
		@media(max-width:730px)
			max-height inherit
			padding-bottom 2em
			height 100vh
	#imagenCelular
		column(7)
		figure
			margin 0
			padding 0
			background-image url("../img/HandwithiPhone5.png")
			background-size 350px auto
			background-repeat no-repeat
			background-position bottom center
			height 430px
		@media(max-width:730px)
			height 0
			display none
	#bienvenida
		column(5)
		padding-top 2em
		text-align center
		&.bienvenida2
			@media (max-width:730px)
				display none
		@media (max-width:730px)
			column(12)
			padding-top 2em
		h2
			font-size 5em
			margin 0
		h3
			margin 0
		form
			input[type="text"]
				column(12)
				background-color transparent
				border 1px solid white
				color white
				padding .5em
				box-sizing border-box
			input[type="submit"]
				column(12)
				margin-top .5em
				background-color $KMS-Aqua
				border 0px solid
				padding .5em
.comofunciona
	background-image url("../img/dispositivos.jpg")
	background-size contain
	background-repeat no-repeat
	background-position right bottom
	overflow hidden
	min-height 450px
	padding 5em 0
	@media(max-width:730px)
		min-height auto
		background-position right top
		background-size auto 300px
	.informacion
		column(6)
		text-align right
		background-color rgba(white,.9)
		padding 1em
		overflow hidden
		display block
		clear both
		box-sizing border-box
		@media(max-width:730px)
			text-align center
			width 100%
			margin-top 280px
		h2
			color $KMS-Azul
			margin .25em 0
.pulsera
	background-color white
	background-image url("../img/pulsera.jpg")
	background-position left center
	background-size  auto 130%
	background-repeat no-repeat
	overflow hidden
	min-height 450px
	padding 5em 0
	@media(max-width:730px)
		background-position center bottom
		background-size 150px auto
	.informacion
		max-width 480px
		float right
		text-align left
		background-color rgba(white,.95)
		padding 1em
		overflow hidden
		display block
		clear both
		box-sizing border-box
		@media(max-width:730px)
			max-width 100%
			text-align center
			width 100%
			margin-bottom 8em
		h2
			color $KMS-Verde
			margin .25em 0
		figure
			column(4)
			text-align center
			margin-bottom 1.5em
			padding 1em
			box-sizing border-box
			figcaption
				color $KMS-Verde
				text-align center
.app
	background-image url("../img/app.jpg")
	background-position right center
	background-size  auto 140%
	background-repeat no-repeat
	overflow hidden
	min-height 450px
	padding 5em 0
	@media(max-width:730px)
		background-position right bottom
		background-size  500px auto
	.btn
		display block!important
		float none!important
		margin-top 3em!important
	.informacion
		column(6)
		color $KMS-Azul
		margin 0
		background-color rgba(white, .8)
		padding 1em
		box-sizing border-box
		@media(max-width:730px)
			text-align center
			width 100%
			margin-bottom 300px
		a
			column(6)
.contacto
	padding-top 5em
	overflow hidden
	h2
		text-align center
		color $KMS-Verde
		font-size 1.5em
		margin .5em
	p
		color $KMS-Gris
		max-width 350px
		display block
		margin 1em auto 3em
		text-align center
		font-size .85em
	.formulario
		column(6.25)
		border-right 1px solid $KMS-Gris
		@media (max-width:650px)
			column(12)
			border-right 0 solid $KMS-Gris
			border-bottom 1px solid $KMS-Gris
		form
			div
				margin .5em 0
				overflow hidden
			label
				column(3)
				text-align right
				color $KMS-Azul
			input, textarea
				column(8)
			input[type="submit"]
				column(5)
				push(5)
				border 1px solid $KMS-Azul
				background transparent
				color $KMS-Azul
				transition all .25s ease
				@media (max-width:650px)
					column(6)
					push(4)
					margin-bottom 2em
				&:hover
					background-color rgba($KMS-Azul, 30%)
					color white
	.informacion
		column(5)
		text-align center
		@media (max-width:650px)
			column(12)
			margin-bottom 2em
		p
			color $KMS-Azul
		a
			text-decoration none
		.twitter
			color $KMS-Azul
		.facebook
			color $KMS-AzulOscuro
footer
	display block
	clear both
	background white
	margin-top 2em
	padding-bottom 3em
	h3
		color $KMS-Verde
		font-size 1.1em
		margin .25em 0
		margin-left -1em
	ul
		display inline-block
		vertical-align top
		li
			list-style-type none
			margin .25em
	a
		color $KMS-Gris
		text-decoration none
///// ETIQUETAS ////
body
	background-color $KMS-Blanco
	&.blanco
		background-color white
img
	max-width 100%
	height auto
header
	background-color white
	display block
	top 0
	left 0
	width 100%
	z-index 30
	box-shadow 0 .25em .1em rgba(0,0,0,.5)
	position fixed
	z-index 20
	#myMenu
		padding 0
		margin 0
		li
			display inline-block
			transition all .25s ease
			padding .25em
			vertical-align middle
			&:hover
				transform scale(1.1)
			&:after
				content "/"
				color lighten($KMS-Gris,50%)
				padding 0 .5em
			&:first-child:after
				content ""
			&:nth-child(5):after
				content ""
			a
				color $KMS-Azul
				text-decoration none
			&.KMS
				color blue
			&.IniciarSesion
				color $KMS-Verde
				float right
				cursor pointer
				margin-top 1.5em
				&:after
					content "/"
			&.Software
				color $KMS-Rosa
				float right
				cursor pointer
				margin-top 1.5em
				&:after
					content ""
#comoFuncionaDetalle
	text-align center
	figure
		padding 0
		margin 0
		&.metas
			column(6)
			margin-top 3em
			margin-bottom 5em
			text-align center
	img
		&.premios
			max-width 160px
			clear both
			display block
			margin 0 auto
		&.diagramaKms
			column(11)
			push(1)
			margin-top 1em
		&.tips
			column(6.5)
			push(.5)
			margin-top 3em
			margin-bottom 5em
	h2
		color $KMS-Verde
		font-weight normal
	h3
		color $KMS-Azul
		font-size 1.5em
		margin .5em 0
		font-weight normal
	p
		font-size 1em
		font-weight lighter
		&.premios
			column(6)
			push(3)
			margin-top 1em
			margin-bottom 5em
			max-width 100%
			display block
			clear both
		&.tips
			column(5)
			margin-top 3em
			margin-bottom 5em
		&.metas
			column(6)
			margin-top 3em
			margin-bottom 5em
	hr
		display block
		clear both
		width 100%
		margin 2em auto
	.pulseraDetalleItem
		column(3.5)
		margin-bottom 3em
	.appDetalleItem
		column(4)
		push(.25)
		margin-bottom 3em
	.dashboardDetalleItem
		column(4)
		margin-bottom 3em
.lightbox
	position fixed
	top 0
	left 0
	z-index 100
	width 100%
	height 100vh
	display none
	text-align center
	&.activo
		display block
	.fondolight
		background-color rgba(black,.65)
		height 100vh
		width 100%
		position fixed
		z-index -1
		top 0
	.contenidoLight
		background-color white
		overflow hidden
		max-width 600px
		padding 1em 1em 2em
		margin-left 1em
		margin-right 1em
		display inline-block
		margin-top 3em
		a
			column(8)
			push(2)
			color $KMS-Azul
			display block
			margin-top 1em
			font-weight lighter
		h2
			color $KMS-Verde
			font-weight normal
		p
			column(8)
			push(2)
			color $KMS-Gris
		form
			column(8)
			push(2)
			padding-top 1em
			display block
			clear both
			overflow hidden
			box-sizing border-box
			input
				width 100%
				padding 0.25em
				margin-top .5em
				margin-bottom .5em
				box-sizing border-box
				&[type="submit"]
					display block
					margin-top 0.5em
					background-color #00ccc3
					border 0px solid
					padding 0.5em
					color white
